body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #C3D1FF, #2D4DB9);
}

.logo {
  width: 50px;
  padding-left: 30px;
}

.top-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "cy", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.top-drags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  padding: 10px;
  position: relative;
  min-height: 500px;

}

.window {
  width: 700px;
  height: 550px;
  cursor: move;
  user-select: none;
  border-radius: 7px;
  background-color: #032476;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.window.main {
  grid-row: span 2 / span 2;
}

.window.mini {
  width: 300px;
  height: 250px;
}

.window.mini.secondone {
  grid-column-start: 2;
  grid-row-start: 2;
}

.window.mini.secondtwo {
  grid-column-start: 3;
  grid-row-start: 2;
}

.window.mini.secondthree {
  grid-column-start: 4;
  grid-row-start: 2;
}

.window-header {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
}

.window-header span {
  float: right;
}

.window-content img {
  width: 100%;
  height: auto;
}

.window-content {
  background-color: white;
  flex: 1;
  padding: 20px;
  margin-bottom: 15px;
  margin-inline: 15px;
  overflow: auto;
}

@media (max-width: 1200px) {
  .top-drags {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .window.main {
    grid-row: span 1;
  }

  .window.mini.secondone,
  .window.mini.secondtwo,
  .window.mini.secondthree {
    grid-column-start: auto;
    grid-row-start: auto;
  }
}
